---
import Layout from '../layouts/Page.astro'
---

<Layout title='About' description='About the author'>
	<p>
		I live in the Midwest with my wife amidst a quantity of books and coffee mugs. I’m a
		Christian, and I hope by extension, a student and a penitent. I’m a software developer by
		trade.
	</p>

	<p>I try to read, and write about what I read here.</p>

	<p class='italic'>Ora Et Labora</p>
</Layout>
