---
import type { CollectionEntry } from 'astro:content'
import PostSeparator from './PostSeparator.astro'

type Props = { post: CollectionEntry<'blog'> }

const {
	post: {
		data: { title },
		slug,
	},
} = Astro.props

const { Content } = await Astro.props.post.render()
---

<article class='w-full max-w-xl text-black prose leading-6 prose-headings:leading-tight'>
	<h1 class='text-center leading-tight mb-2'>
		<a
			class='font-bold text-base text-center no-underline hover:underline'
			href={`/blog/${slug}`}>{title}</a
		>
	</h1>
	<Content />
	<div class='mt-10 flex items-center justify-center'>
		<PostSeparator />
	</div>
</article>
