---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import PostSeparator from './PostSeparator.astro'
---

<header class='p-4'>
	<nav class='w-full flex items-center justify-center'>
		<div class='my-6 flex items-center gap-6'>
			<HeaderLink href='/about'>About</HeaderLink>
			<HeaderLink href='/current_reading'>Current Reading</HeaderLink>
		</div>
	</nav>

	<div class='w-full flex items-center justify-center flex-col'>
		<h2 class='font-bold text-3xl text-center my-6'><a href='/'>{SITE_TITLE}</a></h2>
		<span class='italic'>Ora Et Labora</span>
		<div class='mt-10'>
			<PostSeparator />
		</div>
	</div>
</header>
